body {
  margin: 0 0;
  font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
  background-color: white;
  margin: 0 128px;
}

.full-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-header {
  display: flex;
  gap: 1rem;
}

.sub-header > * {
  flex: 1;
}

.placeholder-img {
  min-width: 200px;
  background-color: lightpink;
}

.about-me {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.header-links {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 30px;
}

.footer-links {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 30px;
}

.project-links {
  display: flex;
  justify-content: end;
  height: 30px;
}

.header-links svg,
.project-links svg,
.footer-links svg {
  width: 24px;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}

svg:hover {
  width: 30px;
}

.project-img {
  background-color: lightpink;
  height: 200px;
}

.project > img {
  width: 100%;
}

.project-descr {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.project,
.sub-header {
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a {
  text-decoration: none;
  display: flex;
}

.project-overview,
.about-me p,
svg {
  color: rgb(124, 124, 124);
  fill: rgb(124, 124, 124);
}

main {
  margin-bottom: 2rem;
}

footer {
  height: 200px;
  margin: 0;
  padding: 2rem 128px;
  display: flex;
  gap: 4rem;
  justify-content: center;
  background-color: whitesmoke;
  /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

footer > * {
  flex: 1;
}

.contact-me {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 1000px) {
  header,
  main {
    margin: 0 64px;
  }
  main {
    margin-bottom: 2rem;
  }
  footer {
    padding: 2rem 64px;
  }
  .contact-me {
    flex-direction: column;
    gap: 0rem;
  }
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .placeholder-img {
    height: 200px;
  }
  .sub-header {
    flex-direction: column;
    height: 500px;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .contact-me {
    flex-direction: column;
    gap: 0rem;
  }
  header,
  main {
    margin: 0 32px;
  }
  main {
    margin-bottom: 2rem;
  }
  footer {
    padding: 2rem 32px;
    gap: 1rem;
  }
}
